RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://datepilot.online%{REQUEST_URI} [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
